#company {
  margin-bottom: 60px;
}

#company dl {
  max-width: 900px;
  margin-left: auto;
}

#company dt {
  width: 30%;
  padding: 40px 0;
  font-weight: 400;
  border-bottom: solid 1px var(--accent-font-color);
}

#company dd {
  width: 70%;
  padding: 40px 0;
  border-bottom: solid 1px var(--accent-font-color);
}
