#hero {
  height: 540px; /*3*180*/
  background-image: url("../images/main.jpg");
  background-position: center; /*中央揃え*/
  background-size: cover; /*画面全体に表示*/

  border-radius: 30px;

  display: flex;
  align-items: center;

  margin-bottom: 90px;

  overflow: hidden; /*クリッピング*/
}

#hero::before {
  content: ""; /*擬似要素に必須*/
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute; /*他の要素と浮かせる*/
  top: 0; /*配置する位置を指定*/
  left: 0; /*配置する位置を指定*/
  opacity: 0.2;
  z-index: 1;
}

.hero_inner {
  z-index: 2;
  color: white;
  width: 100%;
  text-align: center;
}

.hero_inner p {
  font-size: 21px;
  font-weight: 500;
  padding-bottom: 15px;
}

.hero_inner h1 {
  font-size: 33px;
  font-weight: 700;
}

/*ボトム*/
.column-a {
  height: 270px; /*3*180*/
  width: 20%;
  background-image: url("../images/3.jpg");
  background-position: center; /*中央揃え*/
  background-size: cover; /*画面全体に表示*/

  border-radius: 21px;
}
.column-b {
  height: 270px; /*3*180*/
  width: 25%;
  background-image: url("../images/4.jpg");
  background-position: center; /*中央揃え*/
  background-size: cover; /*画面全体に表示*/

  border-radius: 21px;
}
.column-c {
  height: 270px; /*3*180*/
  width: 30%;
  background-image: url("../images/5.jpg");
  background-position: center; /*中央揃え*/
  background-size: cover; /*画面全体に表示*/

  border-radius: 21px;
}

.column-d {
  height: 270px; /*3*180*/
  width: 24%;
  background-image: url("../images/6.jpg");
  background-position: center; /*中央揃え*/
  background-size: cover; /*画面全体に表示*/

  border-radius: 21px;
}
